[2018-06-14 16:25] dustinWeaver opened #1 ""Remembering" text has a default name that does not match selected veteran"
You can see the current text by following these steps:

1. Login at https://frontend.app.cloud.gov/
1. Select "US Army"
1. Select Charles Greer
1. Observe "Remembering" text

Text in the "Remembering" section currently reads:

It should read:

Screenshot below:
![2018-06-14_11-24-12](https://user-images.githubusercontent.com/1737883/41425160-8763e0d8-6fc5-11e8-997f-1dd35f5884d1.png)

[2018-06-14 16:26] dustinWeaver opened #2 "Default avatar needs to be blank"
Currently the default avatar is an image of an actual person.  We should make this a blank avatar.

You can see the current avatar by following these steps:

1. Login at https://frontend.app.cloud.gov/
1. Select "US Army"
1. Select Charles Greer
1. Observe avatar

[2018-06-14 18:42] dustinWeaver commented on #1
Login Info:

- Email: topcoder@topcoder.com
- Password: topcoder123!

[2018-06-14 18:42] dustinWeaver commented on #2
Login Info:

- Email: topcoder@topcoder.com
- Password: topcoder123!

[2018-06-19 16:59] dustinWeaver opened #4 "Search does not work correctly"
When using the search function, it seems to sporadically bring back results.

Video here: https://www.screencast.com/t/OBvuX3PK7a0j

[2018-06-19 18:16] dustinWeaver commented on #4
Steps to reproduce:

1. Go to https://frontend.app.cloud.gov/
1. On the search bar, search for a common name (Example: "Smith")
1. Observe search results behavior

[2018-06-19 18:46] ramillim commented on #4
@dustinWeaver I suspect that the response issue may be related to the latency between when the user types and when the query response is returned and rendered. The UI currently sends a request each type the state changes on the form.

Now if you take a look at how this shows up on the console of me typing "Weaver"
![image](https://user-images.githubusercontent.com/3946035/41617671-1e655860-73cf-11

[2018-06-19 18:51] dustinWeaver commented on #4
I think it was designed with the dynamic search in mind as it was flashy, but if it doesn't work, then doing it the way you suggest would be great.

Functionality over form!

[2018-06-19 18:53] ramillim commented on #4
I can probably figure out a way to preserve dynamic search as well. It's pretty common, so I can look into what patterns are used to invalidate all but the most recent request when rendering the results.

[2018-06-20 16:28] #2 closed

[2018-06-20 16:28] #1 closed

[2018-06-21 14:31] dustinWeaver commented on #4
@ramillim, any update?

cc: @ksmacleod99

[2018-06-21 15:29] ramillim commented on #4
@dustinWeaver I only had an opportunity to do a preliminary look into this. Basically, this would need to use the pattern described here for canceling duplicate requests: https://redux-resource.js.org/recipes/canceling-requests as well as implement debouncing on the search box input.

I have limited experience working with Redux, so this would take me a little longer to do. I can work through this

[2018-06-21 15:37] dustinWeaver commented on #4
@ramillim, if you can take a look at it tonight and let us know what you think by tomorrow, that's ok.

[2018-06-21 15:40] ramillim commented on #4
@dustinWeaver Cool. I did push up this commit that enables cancellation of the other requests and it is working, but I want to think through this more thoroughly such as is there a better way to do this than adding another library (bluebird), should I actually be performing the cancellation
as a redux action, etc.

But if we just want working, this works :)
https://github.com/ramillim/va-online-me

[2018-06-21 15:47] dustinWeaver commented on #4
I can wait for you to think it over.  Just let me know by COB tomorrow and we can go from there.

[2018-06-21 19:28] sdgun opened #6 "'Username' is displayed on the login screen but doesn't supports for login"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Click Login
3. Enter valid Username and Password
4. Click Login Account

## Actual Result(s)

- 'Username' is displayed on the login screen but doesn't supports for login

## Expected Result(s)

- Must remove 'Username' from the login screen or Must support username for login

[2018-06-21 19:29] sdgun opened #7 "'Notification' window is partially hidden from the right side of the window"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Notification
4. Check the popup

## Actual Result(s)

- 'Notification' window is partially hidden from the right side of the window

## Expected Result(s)

- Must display the 'Notification' window properly

## Frequency

- 5/5

## Environment Deta

[2018-06-21 19:29] sdgun opened #8 "'Reset' filter button is not working"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search
4. Select 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click Reset filter

## Actual Result(s)

- 'Reset' filter button is not working

## Expected Result(s)

- Must reset all the filtered data when user click on

[2018-06-21 19:30] sdgun opened #9 "Close button in the filter section is not working"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search
4. Select 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click close filter button

## Actual Result(s)

- Close button in the filter section is not working

## Expected Result(s)

- Must clsoe the filter

## Frequ

[2018-06-21 19:30] sdgun opened #10 "'Date of Death' must display as 'Date of Passed Away' to be consistent with other locations"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search button  > 'Date of Death'
4. Click Search field > 'Date of Passed Away'

## Actual Result(s)

- 'Date of Death' label is displayed in the search area and in the filter area same label is displayed as 'Date of Passed Away'

## Expected Resul

[2018-06-21 19:31] sdgun opened #11 "Selecting a record from the drop-down search box won't close it automatically"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search field
4. Enter 'Branch of service' as BATTALION
5. Click on a record and observe

## Actual Result(s)

- Selecting a record from the drop-down search box won't close it automatically

## Expected Result(s)

- Must close the popup automatica

[2018-06-21 19:31] sdgun opened #12 "[Usability] 'Buried at' location displayed twice in the search result page"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search field
4. Enter 'Branch of service' as ARMY CORPS
5. Check the 'Buried at' field and also below the soilder name

## Actual Result(s)

- 'Buried at' location displayed twice in the search result page

## Expected Result(s)

- Displaying only

[2018-06-21 19:31] sdgun opened #13 "Filtering is not working other than the 'Burial Location' and 'Branch of service'"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search button
4. Enter 'Branch of service' as US ARMY
5. Click 'Update Results' button
6. Check the 'Charles Greer' Mar 18, 1931 - Dec 3, 2012  - https://frontend.app.cloud.gov/dashboard/4
7. Enter DOB as Mar 18, 1931
8. Click 'Update Results' but

[2018-06-21 19:32] sdgun opened #14 "Filtering result count changes when user click on 'Update Results' button again and again"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User
3. Click Search button
4. Enter 'Branch of service' as US ARMY
5. Click 'Update Results' button
6. Check the result count
7. Click 'Update Results' button again
8. Check the result count
9. Click 'Update Results' button again
10. Check the result count

##

[2018-06-21 19:32] sdgun opened #15 "'Write a Story' and 'Search' buttons are not working in the Blue overlay section"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Scroll down and click on 'Stories' section
8. Click 'Search' or 'Wr

[2018-06-21 19:32] sdgun opened #16 "'Upload' and 'Search' buttons are not working in the Blue overlay section"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Scroll down and click on 'Photos' section
8. Click 'Search' or 'Upl

[2018-06-21 19:32] sdgun opened #17 "'Testimonials' and 'Search' buttons are not working in the Blue overlay section"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Scroll down and click on 'Testimonials' section
8. Click 'Search' o

[2018-06-21 19:33] sdgun opened #18 "'Add Badge' and 'Search' buttons are not working in the Blue overlay section"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Scroll down and click on 'Badges' section
8. Click 'Search' or 'Add

[2018-06-21 19:33] sdgun opened #19 "Layout issue when user clicks on 'View more related' button few times"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Scroll down and click on 'View more related' button in the 'Related

[2018-06-21 20:38] sdgun opened #20 "'Write Story' popup; Title field flickers when user focus on another field"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Write Story'
8. Don't click on 'Title' field; Click on 'M

[2018-06-21 20:42] sdgun opened #21 "Can enter empty 'Story'"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Write Story'
8. Enter spaces for 'Title' field; and 'Mess

[2018-06-21 20:53] sdgun opened #22 "Won't display more meaningful error message for character limitation"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Log in as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Write Story'
8. Enter long text (more than 255 character

[2018-06-21 21:02] sdgun commented on #20
Same thing happens to Title field in 'Write Testimonial'

[2018-06-21 21:05] sdgun opened #23 "Can enter empty 'Testimonial'"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Testimonial'
8. Enter spaces for 'Title' field; and 'Test

[2018-06-21 23:02] sdgun opened #24 "Can enter an invalid date for events"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'View Timeline' > Event
8. Add date as 02/30/1980 and sele

[2018-06-21 23:13] sdgun opened #25 "'Salute' button icon is too close to the text"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Stories' section and click on 'Read more' from one of the

[2018-06-21 23:17] sdgun opened #26 "'Story Salute Successful' displayed when user click on the 'Share' button"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Stories' section and click on 'Read more' from one of the

[2018-06-21 23:19] sdgun opened #27 "Sharing post via 'Share' button is not working"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Stories' section and click on 'Read more' from one of the

[2018-06-21 23:22] sdgun opened #28 "Post view count is not updating"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Stories' section and click on 'Read more' from one of the

[2018-06-21 23:24] sdgun opened #29 "[$50] 'Salutes' count is not updating when user click on 'Salute' button"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Stories' section and click on 'Read more' from one of the

[2018-06-21 23:32] sdgun opened #30 "Uploaded photo is not displayed"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Upload' button and upload an image with a Caption
8. Click

[2018-06-21 23:40] sdgun opened #31 "'Salute' state is not displayed correctly"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Upload' button and upload 2 images with a Caption
8. Click

[2018-06-21 23:49] sdgun opened #32 "Same badges can be added again and again"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Badge' button and select the 2 badges and click 'Add Badge

[2018-06-22 01:31] sdgun opened #33 "Can enter spaces for 'Caption'"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Upload' button and select an image
8. Enter spaces for the

[2018-06-22 06:00] sdgun opened #34 "Same record set displayed when user moves to the next page in the search result list"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click NEXT button in the pagination
7. Observe the record set; Same displayed

## Actual Result(s)

- Same record set displayed when user moves

[2018-06-22 06:02] sdgun opened #35 "'Reset Filter' button is too close to the footer"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Check the 'Reset Filter' button

## Actual Result(s)

- 'Reset Filter' button is too close to the footer

## Expected Result(s)

- Must have small space from the footer

## Frequency

- 5/5

## Environment Details

-

[2018-06-22 06:32] ramillim commented on #9
Is there a design/wireframe that shows how this should look like when you re-open it? Does it collapse/expand or is it close and it's gone for good until you reload the page?

[2018-06-22 06:40] ramillim commented on #8
Unable to reproduce this issue. Clicking on Reset Filter resets all fields on the form.

[2018-06-22 06:48] ramillim commented on #6
Just doing a preliminary investigation. This issue also requires updates to the backend. It appears that only email login was implemented there.
https://github.com/topcoderinc/va-online-memorial-rest-api/blob/master/modules/security/services/SecurityService.js#L76

[2018-06-22 15:01] dustinWeaver commented on #8
This works for me as well on OS X Chrome.  Let's close for now.

[2018-06-22 15:01] #8 closed

[2018-06-22 18:56] sdgun opened #42 "'Find a Veteran', 'Show what's New' and 'Become a member' buttons are not working"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click on the 'Find a Veteran', 'Show what's New' and 'Become a member' buttons

## Actual Result(s)

- 'Find a Veteran', 'Show what's New' and 'Become a member' buttons are not working

## Expected Result(s)

- Button must function properly
- 'F

[2018-06-22 19:00] #10 closed

[2018-06-22 19:01] #4 closed

[2018-06-22 19:01] #12 closed

[2018-06-22 19:18] #7 closed

[2018-06-22 19:32] #11 closed

[2018-06-22 20:33] ramillim commented on #9
Hi @sdgun . I just wanted to check if you had a design spec for how this should behave.

[2018-06-22 20:36] sdgun commented on #9
Actually I don’t have but @dustinWeaver might have these documents

[2018-06-22 20:39] dustinWeaver commented on #9
There's nothing this detailed.  However, upon looking this up, I think we should just remove the close button.  I can't imagine why a person would want to close the filter list seeing as it doesn't expand the screen or anything like that.

[2018-06-22 20:41] ramillim commented on #9
That's true. All that happens is the footer comes up. I wasn't sure if there was another view that could possibly use this where this was behaving more like a modal, but nothing that I've seen.

[2018-06-22 20:41] ramillim commented on #9
The only thing I was thinking was if we wanted to collapse it so that the results table takes up the full width.

[2018-06-22 20:45] sdgun commented on #9
Hi @ramillim @dustinWeaver , I have checked this site on a tablet view. This close button is used to CLOSE the filter section once it is expanded. So I think remove is not the suitable thing to do. Hide it from desktop viewport is the best thing to do I guess

[2018-06-22 20:49] dustinWeaver commented on #9
@ramillim, I like @sdgun's observation above.   I didn't test on a tablet, so she has a good point.

[2018-06-22 21:52] ramillim commented on #13
Another bug I'm seeing is that when you enter 3 18 1931 and click Update Results, it becomes 3 17 1931

[2018-06-22 22:04] dustinWeaver commented on #42
Let's do this for these:

Find a Veteran:  Take you to the search screen
Become a Member: Take you to the signup screen

Let's leave "Show What's New" for now.

[2018-06-22 22:08] ramillim commented on #13
Oh wow, what a heinous bug. The numerical date part was created by parsing .getDay() from the Date class. .getDay() is the numerical day of the week from 0 - 6 (Monday - Sunday). This should be .getDate(), which gets you 1-31. I will check if this resolves the filtering issue or if there are other items after I make this fix.

Unit tests would've probably caught that, but alas, this project has no

[2018-06-22 22:14] sdgun opened #43 "Can enter spaces for 'Full Name' in 'Send NOK Request' popup"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Send NOK Request' button
8. Enter spaces for the 'Full Nam

[2018-06-23 01:06] sdgun opened #44 "[$50] The proof Download button is not working"
## Target URL

https://frontend.app.cloud.gov/admin/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Send NOK Request' button
8. Enter all the required detail

[2018-06-23 01:09] sdgun opened #45 "[$30] Clicking on 'Veteran's Profile' button will redirect the page to a wrong one"
## Target URL

https://frontend.app.cloud.gov/admin/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Send NOK Request' button
8. Enter all the required detail

[2018-06-23 01:13] sdgun opened #46 "Nothing happens when user clicks on 'Decline' button"
## Target URL

https://frontend.app.cloud.gov/admin/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Send NOK Request' button
8. Enter all the required detail

[2018-06-23 02:48] sdgun opened #47 "Upload Photo, drag and drop function is not working"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Upload' button
8. Drag and drop an image file

## Actual R

[2018-06-23 03:57] ramillim commented on #14
The actual bug is that the date selected in the filter kept changing due to an improper usage of the javascript Date object that resulted in a conversion to the browser's local time. It would make the date decrease by one day every time you ran the search. I fixed this in PR #48 while working on another issue.

[2018-06-23 05:12] ramillim commented on #20
Unable to reproduce issue.

[2018-06-23 05:14] ramillim commented on #21
This issue looks like it's already fixed.  "Title should not be empty" appears on the bottom left.

[2018-06-23 14:02] sdgun opened #49 "Search result data is cluttered, Must arrange properly"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as PHILIPPINE GUERILLA
5. Check the table

## Actual Result(s)

- Search result data is cluttered, Must arrange properly

## Expected Result(s)

- Must have proper spacing in between the col

[2018-06-23 14:13] sdgun opened #50 "Search by veteran name is not working"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Enter 'Charlie Bruce Johnson' and click Search button
4. Observe

## Actual Result(s)

- Search by veteran name is not working

## Expected Result(s)

- Must popup the veteran name in the search result list

## Frequency

- 5/5

## Environ

[2018-06-23 14:22] sdgun opened #51 "[$30] No message displayed when there is no result found"
## Target URL

https://frontend.app.cloud.gov/search

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Enter 'Branch of service' > Artillery and 'Burial Location' > Green Mount Cemetery and click Search button
4. Observe
5. Enter 'Branch of service' > Artillery and click Search button
6. Observe

## Actual Result(s)

- No message displayed

[2018-06-23 15:47] ramillim commented on #23
This one is already fixed, just like the Story form in #21
It was fixed on the server-side, so maybe this video was recorded when the frontend was pointing to an older version of the rest-api.

[2018-06-23 19:29] ramillim commented on #28
Reads, Salutes, and Shares are all hard coded to be the numbers displayed above.
Of the three, only Salutes are currently implemented.

There's a comment in the API code about how statistics are currently out of scope.
https://github.com/topcoderinc/va-online-memorial-rest-api/blob/master/modules/stories/services/StoryService.js#L266-L270

[2018-06-23 19:34] ramillim commented on #29
@dustinWeaver could you add a task dependency for this issue on the rest-api project? of the 3 (reads, salutes, and shares), only salutes is even implemented on backend.

This issue will be blocked until that's completed.

[2018-06-23 19:37] ramillim commented on #29
In the meantime, this one also has a design decision:
I think that when this is implemented, clicking on salute should just increment the number by 1 instead of getting the actual number from the backend. I think that will make it snappier instead of having to wait for the response and avoid confusion when the number goes up by more than one because other people saluted at the same time.

When the

[2018-06-23 20:00] ramillim commented on #30
This is working locally when uploading the photos to my local rest-api server.

I did notice that the API is handling uploads by storing them in local storage under the server's /public/upload/ so that is something that will need to be addressed when they figure out the architecture for where to store images.

[2018-06-23 20:04] ramillim commented on #30
I confirmed that on the frontend.app.cloud.gov, the issue is actually broken links to the stores URLs. For example:
https://frontend.app.cloud.gov/upload/7ff363a98b99d59c5e1817b33cdacd72
Is not accessible, either due to configuration that is keeping /public/upload from being viewed or the file actually doesn't exist.

[2018-06-23 20:06] ramillim commented on #31
This appears to already be fixed.

[2018-06-23 20:19] ramillim commented on #32
This is a backend issue as well, but we should discuss the front end design here.
@dustinWeaver @sdgun

Since badges won't display until they are approved and there isn't a spot for displaying pending badges, if any badges, it's more difficult for the user selecting badges to assign to see if a badge has already been submitted.

So let's say there are any that already are approved or are in pendin

[2018-06-23 20:57] ramillim commented on #42
@dustinWeaver if you could chime in on this design question:

There's a container called "Register" that could be serving as the Become a Member signup page, but it has no design and looks like this. It's also broken:
![image](https://user-images.githubusercontent.com/3946035/41813541-fd081060-7705-11e8-98be-56af798f3230.png)

I recommend using the form that appears when you click on Register in t

[2018-06-23 20:58] ramillim commented on #42
I'm going to go with the quickfix method and open a PR and just let me know if you want to implement a separate route for /register

[2018-06-23 22:03] sdgun opened #56 "Layout issue when user add more than 6+ events"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'View Timeline' button
8. Click 'Event' button
9. Add +6 ev

[2018-06-23 22:06] sdgun opened #57 "Event list is not dynamically updated"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'View Timeline' button
8. Click 'Event' button
9. Add 2-3 e

[2018-06-23 23:40] sdgun opened #59 "Nothing happens when user click on 'Read More' button"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Read more' hyperlink

## Actual Result(s)

- Nothing happe

[2018-06-23 23:57] sdgun opened #61 "Duplicates posted if user double tap on 'Post Story', 'Upload Photo' or 'Post Testimonial' button"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Admin]
3. Click Search button
4. Enter 'Branch of service' as US NAVY
5. Click 'Update Results' button
6. Click on any record > https://frontend.app.cloud.gov/dashboard/10
7. Click on 'Write Story' button
8. Fill all the required data
9. Doubl

[2018-06-24 02:57] sdgun opened #62 "No validation when user click on 'Save Change' button without 'Username' and 'Email'"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Remove the 'Username' and 'Email'
5. Click Save changes

## Actual Result(s)

- No validation when user click on 'Save Change' button without 'Username' and 'Email'

## Expected Result(s)

- Must have a validation wh

[2018-06-24 03:05] sdgun opened #63 "[$50] 'Veteran Name' and 'Submit Proof' fields won't reset when user click on 'Send Request' button"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Click 'NOK Request'
5. Select 'Veteran Name' and upload a file
6. Click 'Send Request' button
7. Click 'Send Request' button again

## Actual Result(s)

- 'Veteran Name' and 'Submit Proof' fields won't reset when use

[2018-06-24 03:07] sdgun opened #64 "No validation for required fields > 'Veteran Name' and 'Submit Proof'"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Click 'NOK Request'
5. Don't select 'Veteran Name' and don't upload a file
6. Click 'Send Request' button

## Actual Result(s)

- No validation for required fields > 'Veteran Name' and 'Submit Proof'

## Expected Res

[2018-06-24 03:11] sdgun opened #65 "[$50] Can't download the Submitted Proof"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Click 'NOK Request'
5. Select 'Veteran Name' and upload a file
6. Click 'Send Request' button
7. Now scroll down and click on 'View Submitted Proof' button
8. Click Download

## Actual Result(s)

- Can't download the

[2018-06-24 03:17] sdgun opened #66 "'Notification Preferences' are not working"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Click 'Notification Preferences'
5. Enable site notifications and email notifications
6. Click 'Save Changes' button
7. Post a story and observe

## Actual Result(s)

- 'Notification Preferences' are not working

##

[2018-06-24 05:25] sdgun opened #67 "'Deactivate Accounts' button displays a message but function isn't working"
## Target URL

https://frontend.app.cloud.gov/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a valid User [Normal]
3. Click on username
4. Click 'Basic Details'
5. Click 'Deactivate Accounts' button

## Actual Result(s)

- 'Deactivate Accounts' button displays a message but function isn't working

## Expected Result(s)

- Must deactivate the account

##

[2018-06-24 15:55] ramillim commented on #25
@nagano564

[2018-06-25 14:58] dustinWeaver commented on #29
Thanks @ramillim, I've added the issue on the [rest-api repo](https://github.com/topcoderinc/va-online-memorial-rest-api/issues/2).

I'll tag this as "phase 2" as well.

[2018-06-25 15:17] ramillim commented on #30
I think that there should be separate config for development and production to allow development uploads to be stored locally on the rest-api server while production config points to a cloud file storage provider.

[2018-06-25 15:20] ramillim commented on #30
Looks properly configured in the rest-api https://github.com/topcoderinc/va-online-memorial-rest-api/blob/master/app.js#L39 so not sure why. If someone could inspect the server and see if that file is in public/upload

[2018-06-25 16:00] sdgun commented on #30
@ramillim @dustinWeaver Hope this what you are looking for;

![2018-06-25_10-59-43](https://user-images.githubusercontent.com/4592712/41861446-ed20d7d8-7866-11e8-9279-5ece820bc6a7.jpg)

[2018-06-25 16:16] ramillim commented on #30
Oh, I'm sorry @sdgun I should've clarified that I needed to see the directory for API server. The one at https://rest-api.app.cloud.gov/api
Do you happen to have ssh access to that one also?

[2018-06-25 16:19] sdgun commented on #30
Hope this is the one; @ramillim

![2018-06-25_11-19-08](https://user-images.githubusercontent.com/4592712/41862500-abe86652-7869-11e8-954c-81f04f369861.jpg)

[2018-06-25 16:21] ramillim commented on #30
@sdgun Yes, that looks correct. Can you ls /public/upload?

[2018-06-25 16:22] sdgun commented on #30
@ramillim You mean ls /app/public/upload/ ?

[2018-06-25 16:28] ramillim commented on #30
@sdgun Correct, /app/public/upload/

[2018-06-25 16:30] sdgun commented on #30
@ramillim Please check above two screenshots > https://github.com/topcoderinc/va-online-memorial-frontend/issues/30#issuecomment-400011502

[2018-06-25 16:37] ramillim commented on #30
@sdgun The file named 7ff363a98b99d59c5e1817b33cdacd72 doesn't exist so I wonder if it's a mismatch between what's stored in the database and what's on the server. That could happen if a new server was provisioned (since all files are stored locally), but using the existing database.

I pulled down one of the more recent uploads and it looks like something you uploaded:
https://frontend.app.cloud.

[2018-06-25 16:44] sdgun commented on #30
@ramillim Yes

[2018-06-25 16:46] ramillim commented on #30
@sdgun Great, that solves the mystery of this bug. The fix will be to:
1. Not store images locally in production.
2. Remove references to images that no longer exist in the production database (or just reset the database).

[2018-06-25 16:47] ramillim commented on #30
Thanks so much for your help @sdgun

[2018-06-25 16:47] sdgun commented on #30
@ramillim :+1:

[2018-06-28 16:38] dustinWeaver commented on #30
@ramillim and @sdgun, I think the fix for this will be to allow the upload URL to be a configuration option so we could store them externally to the frontend app.

[2018-06-29 14:09] ramillim commented on #67
@dustinWeaver just a heads up that the fix for this also required a PR to va-online-memorial-rest-api

[2018-06-29 17:05] ramillim commented on #6
@dustinWeaver I had to fix this on the backend https://github.com/topcoderinc/va-online-memorial-rest-api/pull/4

[2018-07-02 15:48] ramillim commented on #59
@dustinWeaver is there a spec for what Read more should do? Was it intended to be a longer profile for the Veteran or does it go to a generic FAQ about making posts?

[2018-07-02 15:49] ramillim commented on #31
@dustinWeaver This one needs the retest label since I couldn't repro it.

[2018-07-02 15:49] ramillim commented on #28
@dustinWeaver This one should have a phase2 label.

[2018-07-02 15:51] ramillim commented on #25
@dustinWeaver This was fixed in https://github.com/topcoderinc/va-online-memorial-frontend/pull/69
it just wasn't referenced from that PR

[2018-07-02 15:52] ramillim commented on #20
@dustinWeaver This one needs a retest label since I could not reproduce it.

[2018-07-02 15:53] dustinWeaver commented on #59
I think it should just be a simple anchor link to the bottom section:
![2018-07-02_10-52-21](https://user-images.githubusercontent.com/1737883/42173886-1bdd1bf2-7de6-11e8-9edc-d4543414ad5a.png)

[2018-07-02 15:54] dustinWeaver commented on #31
@ksmacleod99, can you retest then when you get a chance?  If it's working, we can close it.

[2018-07-02 15:55] dustinWeaver commented on #20
@ksmacleod99, can you retest this one when you get a chance?  If it's OK, then let's close it.

[2018-07-03 19:15] ksmacleod99 opened #79 "'Write Story' button mid-page does not work"
the 'Write Story' page halfway down the page in the blue "Stories Of..." section does not prompt user for story like the one up top does.

[2018-07-05 19:17] #13 closed

[2018-07-05 19:17] #14 closed

[2018-07-05 19:18] #19 closed

[2018-07-05 19:18] #22 closed

[2018-07-05 19:19] #26 closed

[2018-07-05 19:19] #24 closed

[2018-07-05 19:20] #33 closed

[2018-07-05 19:22] #43 closed

[2018-07-05 19:23] #42 closed

[2018-07-06 17:11] #67 closed

[2018-07-08 14:32] #6 closed

[2018-07-08 14:43] ksmacleod99 commented on #25
fixed in PR #69 and paid

[2018-07-08 14:43] #25 closed

[2018-07-08 14:47] ksmacleod99 commented on #31
@dustinWeaver it is fixed, but there needs to be just a little style tweaking post state change. Would you like me to keep this issue open, or create a new one for this?
![2018-07-08-10-46-frontend app cloud gov](https://user-images.githubusercontent.com/28678836/42420996-455c0a28-829c-11e8-83a8-2521074ce6cb.png)

[2018-07-08 14:54] ksmacleod99 commented on #20
I'm going to close this since I couldn't get it to reproduce either.

[2018-07-08 14:54] #20 closed

[2018-07-08 14:57] ksmacleod99 commented on #23
I was able to post with spaces

[2018-07-08 14:57] ksmacleod99 commented on #21
I can also post with spaces on this one

[2018-07-08 15:25] ksmacleod99 commented on #65
I am getting an unsuccessful HTTP response for this one and #44

[2018-07-09 14:21] dustinWeaver commented on #31
@ksmacleod99, let's open a new issue for the styling and just reference this issue.

[2018-07-09 15:24] #31 closed

[2018-07-09 15:29] ksmacleod99 opened #81 "Fix styling on 'Salute' button"
See issue #31

After user clicks 'salute' and state changes, the padding needs to change as well.
![2018-07-08-10-46-frontend app cloud gov](https://user-images.githubusercontent.com/28678836/42460144-2f3a5400-836b-11e8-9903-36fed6e7ea49.png)

[2018-07-11 15:30] #21 closed

[2018-07-11 15:30] #23 closed

[2018-07-11 15:30] #64 closed

[2018-07-12 12:28] #81 closed, assigned to nobody

[2018-07-13 15:39] dustinWeaver opened #86 "Login behavior for search and profile views"
As an anonymous user, I should be able to:

- Search and find profiles
- View stories, badges, etc on a profile

To write or edit anything, I would need to be logged in.

[2018-07-13 15:40] dustinWeaver commented on #86
@ksmacleod99, this one came from a request from the client.  Perhaps we could task this out to someone?

[2018-07-13 20:23] ramillim commented on #27
@dustinWeaver @ksmacleod99 What should the share button do? Is this like a social media share button that would bring up a menu of social media platforms to share to? If so, could we get a design spec for what it should contain.

Since this feature is not implemented on the back end, there's nothing to help me figure out what else it's supposed to do :)

[2018-07-13 20:57] ksmacleod99 commented on #27
It does need to be a social media share button. We would need to build a component that allows the user to share via Facebook, Twitter, Email, and maybe a print option as well. I'm trying to think of other applicable social media options for the user. I welcome your ideas :)

[2018-07-16 15:23] #79 closed

[2018-07-16 15:23] #15 closed

[2018-07-16 15:23] #16 closed

[2018-07-16 15:23] #17 closed

[2018-07-16 15:23] #18 closed

[2018-07-17 15:10] #47 closed

[2018-07-25 18:28] dustinTopcoder commented on #86
@ksmacleod99, any update on this?

[2018-07-25 18:40] ramillim commented on #30
@dustinWeaver @dustinTopcoder I really don't think I will be able to get this done before the challenge deadline, but can we make the assumption that the file storage will be Amazon S3? I discovered that the frontend client is hosted on AWS.

[2018-07-25 18:43] dustinTopcoder commented on #30
How much of an extension would you need?  But yes, I think S3 is a good assumption for now.

[2018-07-25 18:47] ramillim commented on #30
@dustinTopcoder Probably until noon eastern tomorrow since I have to work on another project for the next few hours. I wrapped work on the other 2 issues today. I know there's one other person working on challenge 6 so maybe he will have it all submitted today :)

[2018-07-25 18:51] dustinTopcoder commented on #30
Let's see what gets submitted and go from there.

cc: @ksmacleod99

[2018-07-26 15:44] ramillim commented on #30
@dustinTopcoder @ksmacleod99

https://github.com/topcoderinc/va-online-memorial-rest-api/pull/5

Work in progress, but I wanted to get something out as promised by noon today, but have to timebox it since I need to head out for the rest of the day. Spent too much time trying to figure out how to get this middleware that the app was using to handle multipart forms to work with S3 (https://www.npmjs

[2018-07-26 15:46] ramillim commented on #30
I guess technically that PR would fix Issue #30 since the bug report is only about the Photos, but I think we might as well fix it across the board and I don't think there are other issues open for the NOK requests and avatars.

[2018-07-27 15:51] #28 closed

[2018-07-29 18:21] AshTemp commented on #34
This happens as both admin / regular user.

[2018-07-29 18:36] AshTemp opened #91 "[$150] User not able to verify email address after sign up."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Click the register button
3. Create account
4. Observe banner at the bottom of the box informing the user the will need to verify the email address.
5. Click Register Account button
6. Check email associated with the account, no email
7. Login using username/passwor

[2018-07-29 18:45] AshTemp opened #92 "[$30] User Login name is case sensitive."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Hit the login button.
3. Type in username in a different case than you created it in.
4. Observe Login Failure.

## Actual Result(s)

* User names are case sensitive.
## Expected Result(s)

*  User names are NOT case sensitive.
## Frequency

* 5/5
## Environment Det

[2018-07-29 18:51] AshTemp opened #93 "[$50] Submitting Proof for NoK does not appear to attach anything."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login
3. Click on user name to navigate to profile.
4. Click NoK Request
5. Select Veteran Name
6. Click the Browse button to submit proof.
7. Select proof file.
8. Select Open
9. Observe Submit Proof Box.

## Actual Result(s)
* Submit proof box still appears to be

[2018-07-29 19:09] AshTemp opened #94 "[$350] Clicking on a notification does not take you to the event."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login.
3. Click on the notification icon.
4. Click on a notification.
5. Observe.

## Actual Result(s)
*  Nothing Happens
## Expected Result(s)
* User is taken to the notification
## Frequency

* 5/5
## Environment Details

* Device(s): Desktop
* Operating System: W

[2018-07-29 19:12] AshTemp opened #95 "[$50] Notifications don't clear when click or on login/logout."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login
3. Observe notifications
4. Click on a notification OR Log out
5. Observe notifications again

## Actual Result(s)
* Notifications stay.
## Expected Result(s)
* Notifications go away after user has looked at them.
## Frequency

* 5/5
## Environment Details

*

[2018-07-29 19:17] AshTemp opened #96 "[$50] Save changes on profile doesn't work"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login
3. Navigate to basic details in profile.
4. Update something.
5. Navigate away from basic details page.
6. Return to basic details page.
7. Observe value previously changed.

## Actual Result(s)
* The value changed remains unchanged.
## Expected Result(s)
* Th

[2018-07-30 20:02] ksmacleod99 opened #97 "[$50] ProfileCard Component needs refinement"
the ProfileCard component is using the default.json data completely, so even if the profile has a profile photo, it doesn't get displayed because the placeholder is displayed

[2018-07-31 14:33] ksmacleod99 commented on #86
totally lost track of this; I just pinged Ramil to see if he will have time.

[2018-08-04 15:22] AshTemp opened #98 "[$20] Grammar in Error Message is terrible."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Attempt to Login when the site is unreachable.
3. Observe error message.

## Actual Result(s)
* Message says Network can not reachable, please check.
## Expected Result(s)
* Message should read Network cannot be reached.
## Frequency
* 5/5 (When login is not possibl

[2018-08-04 15:23] AshTemp opened #99 "Users Cannot Log In"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Attempt to Login

## Actual Result(s)
*  User gets an error message that the network is unreachable.
## Expected Result(s)
* User is able to login.
## Frequency

* 5/5
## Environment Details

* Device(s): Desktop
* Operating System: Windows 10 64bit
* Browser(s): Ch

[2018-08-04 15:32] AshTemp opened #100 "[$20] Grammar in registration confirmation is bad."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Register a new user.
3. Observe registration pop up bottom left of the screen.

## Actual Result(s)
*  Message says user with email $email register successful.
## Expected Result(s)
* Message reads user has registered successfully.
## Frequency

* 5/5
## Environment

[2018-08-04 15:36] AshTemp opened #101 "[$20] We Go Social is weird grammar."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Scroll down to the bottom of the page.
3. Observe the bottom right of the screen at the social media section.

## Actual Result(s)
*  Site says We Go Social
## Expected Result(s)
* Reads something more grammatically correct in English.  Follow us on Social Media, fo

[2018-08-04 15:38] AshTemp opened #102 "[$20] Quick Link should read Quick Links"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1.	Open the URL https://frontend.app.cloud.gov/
2.	Scroll down to the bottom of the page.
3.	Observe the bottom right center of the screen at the Quick Link section.

## Actual Result(s)
* Site reads Quick Link
## Expected Result(s)
* Site should say Quick Links
## Frequency
* 5/5

## Environment Details

* Device(s

[2018-08-04 15:43] AshTemp opened #103 "[$20] Footer Links do not redirect."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Navigate to the footer.
3. Click on a Link.

## Actual Result(s)
*  User is redirected to the https://frontend.app.cloud.gov/ homepage.
## Expected Result(s)
*  User is redirected to the resource clicked.
## Frequency
* 5/5
## Environment Details

* Device(s): Deskt

[2018-08-04 15:46] AshTemp opened #104 "[$50] User is not notified when they are approved as NoK"
## Target URL
https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login
3. Follow the steps to become NoK.
4. Wait for an Administrator to approve this.
5. Once verification from Admin that approval has occurred, check email.

## Actual Result(s)
* No notificatoin that approval has been granted.
## Expected Result(s)
* User is noti

[2018-08-04 15:48] AshTemp opened #105 "[$20] Users cannot hit enter to login."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Fill in login information
3. Hit enter.

## Actual Result(s)
* Nothing happens.
## Expected Result(s)
*  User is able to login.
## Frequency
* 5/5
## Environment Details

* Device(s): Desktop
* Operating System: Windows 10 64bit
* Browser(s): Chrome 67.0.3396.99 (Of

[2018-08-15 19:29] dustinTopcoder commented on #105
Contest https://www.topcoder.com/challenges/30069541 has been created for this ticket.

[2018-08-15 19:29] dustinTopcoder commented on #105
Contest https://www.topcoder.com/challenges/30069541 has been updated - the new changes has been updated for this ticket.

[2018-08-15 19:57] AshTemp opened #106 "[$50] Forgot Password Link Doesn't work"
## Target URL

https://frontend.app.cloud.gov/

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Fill in login information.
3. Hit Forgot Password

## Actual Result(s)
*  Nothing Happens

## Expected Result(s)
*  User is redirected to change their password.

## Frequency
* 5/5

## Environment Details
* Device(s): Desktop
* Operating System: Windows 10 64bit
* Browser(s): C

[2018-08-15 20:10] AshTemp opened #107 "[$50] Notifications show even when unsubscribe is checked."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Fill in login information
3. Login
4. Navigate to Dashboard.
5. Select Notification Preferences.
6. Set all Notification Preferences to unsubscribe all.

## Actual Result(s)
*  Notifications still show.

## Expected Result(s)
*  Notifications go away.

## Frequency

[2018-08-15 20:17] dustinTopcoder commented on #107
Contest https://www.topcoder.com/challenges/30069542 has been created for this ticket.

[2018-08-15 20:17] dustinTopcoder commented on #107
Contest https://www.topcoder.com/challenges/30069542 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:20] dustinTopcoder commented on #106
Contest https://www.topcoder.com/challenges/30069543 has been created for this ticket.

[2018-08-15 20:20] dustinTopcoder commented on #106
Contest https://www.topcoder.com/challenges/30069543 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:20] dustinTopcoder commented on #99
This was fixed by re-uploading the backend system.

[2018-08-15 20:20] #99 closed, assigned to nobody

[2018-08-15 20:22] dustinTopcoder commented on #97
Dupe of #96

[2018-08-15 20:22] #97 closed, assigned to nobody

[2018-08-15 20:22] AshTemp opened #108 "[$50] When submitting a NoK request for a user that already has a NoK there is no notification to user."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a regular user
3. Select a user that already has a NoK.
4. Fill out the NoK request.

## Actual Result(s)
* User is not alerted that there is already a NoK.

## Expected Result(s)
*  User would be alerted a NoK already exsists.

## Frequency
* 5/5

## Envir

[2018-08-15 20:22] dustinTopcoder commented on #104
Contest https://www.topcoder.com/challenges/30069544 has been created for this ticket.

[2018-08-15 20:22] dustinTopcoder commented on #104
Contest https://www.topcoder.com/challenges/30069544 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:22] dustinTopcoder commented on #103
Contest https://www.topcoder.com/challenges/30069545 has been created for this ticket.

[2018-08-15 20:22] dustinTopcoder commented on #103
Contest https://www.topcoder.com/challenges/30069545 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:23] dustinTopcoder commented on #102
Contest https://www.topcoder.com/challenges/30069546 has been created for this ticket.

[2018-08-15 20:23] dustinTopcoder commented on #102
Contest https://www.topcoder.com/challenges/30069546 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:23] dustinTopcoder commented on #101
Contest https://www.topcoder.com/challenges/30069547 has been created for this ticket.

[2018-08-15 20:23] dustinTopcoder commented on #101
Contest https://www.topcoder.com/challenges/30069547 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:23] AshTemp opened #109 "[$50] When approving a NoK request for a user that already has a NoK there is no notification to the administrator."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a regular user
3. Select a user that already has a NoK.
4. Fill out the NoK request.
5. Login as an administrator.
6. Review NoK form.
7. Approve NoK.

## Actual Result(s)
* Administrator is not alerted that there is already a NoK.

## Expected Result(s)
*

[2018-08-15 20:23] dustinTopcoder commented on #100
Contest https://www.topcoder.com/challenges/30069548 has been created for this ticket.

[2018-08-15 20:23] dustinTopcoder commented on #100
Contest https://www.topcoder.com/challenges/30069548 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:25] dustinTopcoder commented on #98
Contest https://www.topcoder.com/challenges/30069549 has been created for this ticket.

[2018-08-15 20:25] dustinTopcoder commented on #66
Dupe of #107

[2018-08-15 20:25] #66 closed

[2018-08-15 20:25] dustinTopcoder commented on #98
Contest https://www.topcoder.com/challenges/30069549 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:25] dustinTopcoder commented on #97
Contest https://www.topcoder.com/challenges/30069550 has been created for this ticket.

[2018-08-15 20:25] dustinTopcoder commented on #97
Contest https://www.topcoder.com/challenges/30069550 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:26] dustinTopcoder commented on #96
Contest https://www.topcoder.com/challenges/30069551 has been created for this ticket.

[2018-08-15 20:26] dustinTopcoder commented on #96
Contest https://www.topcoder.com/challenges/30069551 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:26] dustinTopcoder commented on #95
Contest https://www.topcoder.com/challenges/30069552 has been created for this ticket.

[2018-08-15 20:26] AshTemp opened #110 "[$30] NoK request does not accept email address if the is created from the Veterans information page instead of the user profile page."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Fill in login information
3. Hit enter.
4. Search for any individual
5. Select Send NOK request from the individuals profile.
6. Fill out the NoK form.

## Actual Result(s)
* Email is not accepted from the form

## Expected Result(s)
*  Email is accepted or user is

[2018-08-15 20:26] dustinTopcoder commented on #95
Contest https://www.topcoder.com/challenges/30069552 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #94
Contest https://www.topcoder.com/challenges/30069553 has been created for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #94
Contest https://www.topcoder.com/challenges/30069553 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #93
Contest https://www.topcoder.com/challenges/30069554 has been created for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #93
Contest https://www.topcoder.com/challenges/30069554 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #92
Contest https://www.topcoder.com/challenges/30069555 has been created for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #92
Contest https://www.topcoder.com/challenges/30069555 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #91
Contest https://www.topcoder.com/challenges/30069556 has been created for this ticket.

[2018-08-15 20:27] dustinTopcoder commented on #91
Contest https://www.topcoder.com/challenges/30069556 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:29] AshTemp opened #111 "[$30] When data doesn't exist users are given ugly timed error messages."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Fill in login information
3. Hit enter.
4. Search for anyone.
5. Select a record.
6. Observe errors.

## Actual Result(s)
* Users are shown ugly timed messages when the data does not exist.

## Expected Result(s)
*  Data actually exists or the record is not displaye

[2018-08-15 20:29] dustinTopcoder commented on #65
Contest https://www.topcoder.com/challenges/30069557 has been created for this ticket.

[2018-08-15 20:29] dustinTopcoder commented on #65
Contest https://www.topcoder.com/challenges/30069557 has been updated - the new changes has been updated for this ticket.

[2018-08-15 20:34] AshTemp opened #112 "[$200] Administrators cannot create / grant administrator access to others."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login with an Administrator account.
3. Navigate to dashboard.

## Actual Result(s)
*  Admin user has no ability to create or grant administrator access to other users.

## Expected Result(s)
*  Admin users can allow other admins.

## Frequency
* 5/5

## Environment

[2018-08-15 20:36] AshTemp opened #113 "[$50] Admin dashboard does not show real data or change between usage and joined"
## Target URL

https://frontend.app.cloud.gov/admin/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as administrator.
3. Navigate to Users section.
4. Toggle between Usage Dashboard and Joined this month.

## Actual Result(s)
* Stats don't change.

## Expected Result(s)
*  Stats change.

## Frequency
* 5/5

## Environment Details
* Device(s): Desktop
* Oper

[2018-08-15 20:39] AshTemp opened #114 "[$50] Administrators do not have the ability to edit their own profile"
## Target URL

https://frontend.app.cloud.gov/admin/setting

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as an administrator.
3. Navigate to the dashboard.

## Actual Result(s)
*  Only administrator functions are available.

## Expected Result(s)
*  All functions are available, for example user has the ability to edit their name or notification settings.

## Fre

[2018-08-15 20:40] AshTemp opened #115 "[$50] Flagged posts do not actually show up in the administrator dashboard"
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as a regular user.
3. Flag a post.
4. Login as an administrator.
5. Navigate to the Flagged posts section.

## Actual Result(s)
*  Flagged posts do not appear.

## Expected Result(s)
*  Flagged posts actually appear.

## Frequency
* 5/5

## Environment Details

[2018-08-15 20:43] AshTemp opened #116 "[$400] Administrator cannot delete/manage user accounts."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as administrator
3. Navigate to Users.

## Actual Result(s)
* No option do anything with user accounts.

## Expected Result(s)
*  Administrator has the ability to delete or manage user accounts as necessary.

## Frequency
* 5/5

## Environment Details
* Device

[2018-08-15 20:45] AshTemp opened #117 "[$100] Search sometimes returns different results."
## Target URL

https://frontend.app.cloud.gov/dashboard/10

## Steps to Reproduce

1. Open the URL https://frontend.app.cloud.gov/
2. Login as any user.
3. Search for a person.
4. Wait a few minutes and search for that person again.

## Actual Result(s)
* Different results are displayed each time.

## Expected Result(s)
*  Same or at least similar results are displayed.

## Frequency
* 2/5

## Env

[2018-08-15 21:42] dustinTopcoder commented on #117
Contest https://www.topcoder.com/challenges/30069559 has been created for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #117
Contest https://www.topcoder.com/challenges/30069559 has been updated - the new changes has been updated for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #116
Contest https://www.topcoder.com/challenges/30069560 has been created for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #116
Contest https://www.topcoder.com/challenges/30069560 has been updated - the new changes has been updated for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #115
Contest https://www.topcoder.com/challenges/30069561 has been created for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #115
Contest https://www.topcoder.com/challenges/30069561 has been updated - the new changes has been updated for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #114
Contest https://www.topcoder.com/challenges/30069562 has been created for this ticket.

[2018-08-15 21:43] dustinTopcoder commented on #114
Contest https://www.topcoder.com/challenges/30069562 has been updated - the new changes has been updated for this ticket.

[2018-08-16 13:59] dustinTopcoder commented on #113
Contest https://www.topcoder.com/challenges/30069613 has been created for this ticket.

[2018-08-16 13:59] dustinTopcoder commented on #113
Contest https://www.topcoder.com/challenges/30069613 has been updated - the new changes has been updated for this ticket.

[2018-08-16 13:59] dustinTopcoder commented on #112
Contest https://www.topcoder.com/challenges/30069614 has been created for this ticket.

[2018-08-16 13:59] dustinTopcoder commented on #112
Contest https://www.topcoder.com/challenges/30069614 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:00] dustinTopcoder commented on #111
Contest https://www.topcoder.com/challenges/30069615 has been created for this ticket.

[2018-08-16 14:00] dustinTopcoder commented on #111
Contest https://www.topcoder.com/challenges/30069615 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:00] dustinTopcoder commented on #110
Contest https://www.topcoder.com/challenges/30069617 has been created for this ticket.

[2018-08-16 14:00] dustinTopcoder commented on #110
Contest https://www.topcoder.com/challenges/30069617 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:01] dustinTopcoder commented on #109
Contest https://www.topcoder.com/challenges/30069618 has been created for this ticket.

[2018-08-16 14:01] dustinTopcoder commented on #109
Contest https://www.topcoder.com/challenges/30069618 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:01] dustinTopcoder commented on #108
Contest https://www.topcoder.com/challenges/30069619 has been created for this ticket.

[2018-08-16 14:01] dustinTopcoder commented on #108
Contest https://www.topcoder.com/challenges/30069619 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:01] dustinTopcoder commented on #27
Contest https://www.topcoder.com/challenges/30069620 has been created for this ticket.

[2018-08-16 14:02] dustinTopcoder commented on #27
Contest https://www.topcoder.com/challenges/30069620 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:02] dustinTopcoder commented on #57
Contest https://www.topcoder.com/challenges/30069621 has been created for this ticket.

[2018-08-16 14:02] dustinTopcoder commented on #57
Contest https://www.topcoder.com/challenges/30069621 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:04] dustinTopcoder commented on #32
Contest https://www.topcoder.com/challenges/30069622 has been created for this ticket.

[2018-08-16 14:04] dustinTopcoder commented on #32
Contest https://www.topcoder.com/challenges/30069622 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:11] dustinTopcoder commented on #50
Dupe or related to #117

[2018-08-16 14:11] #50 closed

[2018-08-16 14:14] dustinTopcoder commented on #51
Contest https://www.topcoder.com/challenges/30069623 has been created for this ticket.

[2018-08-16 14:14] dustinTopcoder commented on #51
Contest https://www.topcoder.com/challenges/30069623 has been updated - the new changes has been updated for this ticket.

[2018-08-16 14:16] dustinTopcoder commented on #29
Contest https://www.topcoder.com/challenges/30069624 has been created for this ticket.

[2018-08-16 14:16] dustinTopcoder commented on #29
Contest https://www.topcoder.com/challenges/30069624 has been updated - the new changes has been updated for this ticket.

[2018-08-16 16:02] dustinTopcoder commented on #63
Contest https://www.topcoder.com/challenges/30069636 has been created for this ticket.

[2018-08-16 16:02] dustinTopcoder commented on #63
Contest https://www.topcoder.com/challenges/30069636 has been updated - the new changes has been updated for this ticket.

[2018-08-16 16:02] dustinTopcoder commented on #34
Contest https://www.topcoder.com/challenges/30069638 has been created for this ticket.

[2018-08-16 16:02] dustinTopcoder commented on #34
Contest https://www.topcoder.com/challenges/30069638 has been updated - the new changes has been updated for this ticket.

[2018-08-16 16:07] dustinTopcoder commented on #45
Contest https://www.topcoder.com/challenges/30069640 has been created for this ticket.

[2018-08-16 16:07] dustinTopcoder commented on #45
Contest https://www.topcoder.com/challenges/30069640 has been updated - the new changes has been updated for this ticket.

[2018-08-16 16:08] dustinTopcoder commented on #44
Contest https://www.topcoder.com/challenges/30069641 has been created for this ticket.

[2018-08-16 16:08] dustinTopcoder commented on #44
Contest https://www.topcoder.com/challenges/30069641 has been updated - the new changes has been updated for this ticket.

[2018-08-16 16:10] dustinTopcoder commented on #30
Contest https://www.topcoder.com/challenges/30069643 has been created for this ticket.

[2018-08-16 16:10] dustinTopcoder commented on #30
Contest https://www.topcoder.com/challenges/30069643 has been updated - the new changes has been updated for this ticket.

[2018-08-16 21:13] dustinTopcoder commented on #30
Contest https://www.topcoder.com/challenges/30069643 has been updated - the new changes has been updated for this ticket.

[2018-08-16 21:14] dustinTopcoder commented on #30
Contest https://www.topcoder.com/challenges/30069643 has been updated - the new changes has been updated for this ticket.

[2018-08-22 01:23] #86 closed, assigned to nobody

[2018-08-23 17:20] dustinTopcoder commented on #101
@ksmacleod99, please sign-up with Topcoder X tool

[2018-08-23 17:20] dustinTopcoder commented on #101
@ksmacleod99, please sign-up with Topcoder X tool

[2018-08-23 17:21] dustinTopcoder commented on #101
@ksmacleod99, please sign-up with Topcoder X tool

[2018-08-23 17:21] dustinTopcoder commented on #101
@ksmacleod99, please sign-up with Topcoder X tool

[2018-08-23 17:23] ksmacleod99 commented on #101
Uhm, well. The errors work.

[2018-08-23 17:24] dustinTopcoder commented on #102
Contest https://www.topcoder.com/challenges/30069546 has been updated - it has been assigned to ksmacleod99.

[2018-08-23 18:01] #102 closed, assigned to ksmacleod99

[2018-08-23 18:01] dustinTopcoder commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069546

[2018-08-23 19:22] dustinTopcoder commented on #101
Contest https://www.topcoder.com/challenges/30069547 has been updated - it has been assigned to ksmacleod99.

[2018-08-23 19:22] dustinTopcoder commented on #100
Contest https://www.topcoder.com/challenges/30069548 has been updated - it has been assigned to ksmacleod99.

[2018-08-23 19:43] #100 closed, assigned to ksmacleod99

[2018-08-23 19:43] dustinTopcoder commented on #100
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069548

[2018-08-23 20:16] dustinTopcoder commented on #101
@ksmacleod99, I think you'll need to remove the "Open for pickup" label when you take the ticket.

[2018-08-23 21:31] ksmacleod99 opened #121 "Site is not accessible"
Users need to be able to navigate the site using a keyboard. Bodies of text must also be accessible to screen readers.

[2018-08-27 15:09] dustinTopcoder commented on #101
@ksmacleod99, is this issue fixed?  If so, we'll need to close it.

[2018-08-27 15:25] ksmacleod99 commented on #101
It is.

On Mon, Aug 27, 2018 at 11:09 AM Dustin W <notifications@github.com> wrote:

[2018-08-27 15:25] ksmacleod99 commented on #101
Do we know if manually closing will issue payment? This is a really good
guniea pig moment

On Mon, Aug 27, 2018 at 11:25 AM Kelly MacLeod <ksmacleod99@gmail.com>
wrote:

[2018-08-27 15:55] dustinTopcoder commented on #101
Gonna try!   Closing now.

[2018-08-27 15:55] #101 closed, assigned to ksmacleod99

[2018-08-27 15:55] dustinTopcoder commented on #101
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069547

[2018-08-27 15:56] dustinTopcoder commented on #101
Looks it did pay!

[2018-08-31 03:28] jiangliwu commented on #115
the reason is frontend delete post, but didn't delete flag, that caused endpoint /api/v1/flags return 400 error, so test this issue need remove all rows from database table **_Flags_** first, then try to create add flag in frontend.

[2018-08-31 09:21] jiangliwu commented on #116
@dustinTopcoder in fact, admin can deActive/edit/create user, but it should not delete user, can you confirm this?

[2018-08-31 13:17] dustinTopcoder commented on #116
That's correct.  We should just deactivate the user.  As such, the admin should be able to reactivate a user as well.

[2018-08-31 13:18] dustinTopcoder commented on #91
Contest https://www.topcoder.com/challenges/30069556 has been updated - the new changes has been updated for this ticket.

[2018-08-31 13:18] dustinTopcoder commented on #116
Contest https://www.topcoder.com/challenges/30069560 has been updated - the new changes has been updated for this ticket.

[2018-08-31 13:18] dustinTopcoder commented on #112
Contest https://www.topcoder.com/challenges/30069614 has been updated - the new changes has been updated for this ticket.

[2018-08-31 13:19] dustinTopcoder commented on #116
Contest https://www.topcoder.com/challenges/30069560 has been updated - the new changes has been updated for this ticket.

[2018-08-31 13:19] dustinTopcoder commented on #112
Closed:  Dupe #116

[2018-08-31 13:19] #112 closed, assigned to nobody

[2018-08-31 13:21] dustinTopcoder commented on #105
Contest https://www.topcoder.com/challenges/30069541 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:21] dustinTopcoder commented on #34
Contest https://www.topcoder.com/challenges/30069638 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:21] dustinTopcoder commented on #45
Contest https://www.topcoder.com/challenges/30069640 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:21] dustinTopcoder commented on #115
Contest https://www.topcoder.com/challenges/30069561 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:22] dustinTopcoder commented on #91
Contest https://www.topcoder.com/challenges/30069556 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:22] dustinTopcoder commented on #116
Contest https://www.topcoder.com/challenges/30069560 has been updated - it has been assigned to jiangliwu.

[2018-08-31 13:25] jiangliwu commented on #117
@dustinTopcoder i test many times, cannot reproduce this, all worked as expected,
i guess someone update database when her test.
or can you provide more details ?

[2018-08-31 13:44] jiangliwu commented on #91
update backend -> config.default.json -> email section, then try to register again.

[2018-08-31 18:22] dustinTopcoder commented on #34
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069638

[2018-08-31 18:30] #105 closed, assigned to jiangliwu

[2018-08-31 18:31] dustinTopcoder commented on #105
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069541

[2018-08-31 18:32] #115 closed, assigned to jiangliwu

[2018-08-31 18:33] dustinTopcoder commented on #115
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069561

[2018-08-31 20:02] #91 closed, assigned to jiangliwu

[2018-08-31 20:02] ksmacleod99 commented on #91
Fixed in the rest-API repo

[2018-08-31 20:02] dustinTopcoder commented on #91
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069556

[2018-08-31 20:27] ksmacleod99 commented on #29
Resolved in PR #90

[2018-08-31 20:27] #29 closed

[2018-08-31 22:31] #45 closed

[2018-08-31 22:31] dustinTopcoder commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069640

[2018-08-31 22:34] dustinTopcoder commented on #92
Contest https://www.topcoder.com/challenges/30069555 has been updated - it has been assigned to jiangliwu.

[2018-08-31 22:34] dustinTopcoder commented on #114
Contest https://www.topcoder.com/challenges/30069562 has been updated - it has been assigned to jiangliwu.

[2018-09-01 00:33] dustinTopcoder commented on #94
Contest https://www.topcoder.com/challenges/30069553 has been updated - the new changes has been updated for this ticket.

[2018-09-01 00:35] dustinTopcoder commented on #94
Contest https://www.topcoder.com/challenges/30069553 has been updated - it has been assigned to jiangliwu.

[2018-09-01 00:35] dustinTopcoder commented on #111
Contest https://www.topcoder.com/challenges/30069615 has been updated - it has been assigned to jiangliwu.

[2018-09-04 17:14] ksmacleod99 commented on #92
Hey @jiangliwu, I'm still getting credential errors when I test this. I should be able to log in with my user name in all caps, correct?

[2018-09-04 17:54] dustinTopcoder commented on #117
I think this was previous due to the timing of the search results back to the front end.  For now, with my testing as well, it doesn't seem to be an issue anymore.  As such, I'll close it.

[2018-09-04 17:54] #117 closed, assigned to nobody

[2018-09-04 23:21] jiangliwu commented on #92
Do you also merge backend PR?

[2018-09-05 01:21] ksmacleod99 opened #124 "[$30] Add loading page to search feature"
## Target URL
https://frontend.app.cloud.gov/search

## Steps to Reproduce
Open the URL https://frontend.app.cloud.gov/
Search for any individual using top search bar or search filters
Click 'Update Results'

### Actual Result(s)
Page does not indicate click event triggered anything until query results load.

### Expected Result(s)
A loading overlay with a spinner or other indicator that results a

[2018-09-05 01:22] dustinTopcoder commented on #124
Contest https://www.topcoder.com/challenges/30070580 has been created for this ticket.

[2018-09-05 01:26] ksmacleod99 commented on #124
related to #51

[2018-09-05 03:12] dustinTopcoder commented on #108
Contest https://www.topcoder.com/challenges/30069619 has been updated - it has been assigned to jiangliwu.

[2018-09-05 03:12] dustinTopcoder commented on #107
Contest https://www.topcoder.com/challenges/30069542 has been updated - it has been assigned to jiangliwu.

[2018-09-05 03:12] dustinTopcoder commented on #109
Contest https://www.topcoder.com/challenges/30069618 has been updated - it has been assigned to jiangliwu.

[2018-09-05 03:17] dustinTopcoder commented on #104
Contest https://www.topcoder.com/challenges/30069544 has been updated - it has been assigned to jiangliwu.

[2018-09-05 03:20] dustinTopcoder commented on #96
Contest https://www.topcoder.com/challenges/30069551 has been updated - it has been assigned to jiangliwu.

[2018-09-05 17:08] #111 closed, assigned to jiangliwu

[2018-09-05 17:08] #116 closed, assigned to jiangliwu

[2018-09-05 17:08] dustinTopcoder commented on #111
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069615

[2018-09-05 17:08] dustinTopcoder commented on #116
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069560

[2018-09-05 19:03] ksmacleod99 commented on #92
yes I did :)

On Tue, Sep 4, 2018 at 7:21 PM Vainner <notifications@github.com> wrote:

[2018-09-06 02:07] #114 closed, assigned to jiangliwu

[2018-09-06 02:08] dustinTopcoder commented on #114
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069562

[2018-09-06 02:08] #92 closed, assigned to jiangliwu

[2018-09-06 02:08] dustinTopcoder commented on #92
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069555

[2018-09-06 02:37] dustinTopcoder commented on #98
Contest https://www.topcoder.com/challenges/30069549 has been updated - it has been assigned to BrandonT.

[2018-09-06 23:53] dustinTopcoder commented on #98
Payment failed: [500]: Failed to get topcoder member id.

[2018-09-06 23:54] dustinTopcoder commented on #98
Payment failed: [500]: Failed to get topcoder member id.

[2018-09-07 00:49] brandontiqui commented on #98
I just registered for the challenge - maybe my member id is linked now.  Before the register button was disabled.

[2018-09-07 01:03] dustinTopcoder commented on #93
Contest https://www.topcoder.com/challenges/30069554 has been updated - it has been assigned to jiangliwu.

[2018-09-07 03:34] jiangliwu commented on #57
@dustinTopcoder user cannot see the new added event until NoK user Approved that, looks all worked as expected.

[2018-09-07 06:40] dustinTopcoder commented on #124
Contest https://www.topcoder.com/challenges/30070580 has been updated - it has been assigned to jiangliwu.

[2018-09-07 06:56] dustinTopcoder commented on #44
Contest https://www.topcoder.com/challenges/30069641 has been updated - it has been assigned to jiangliwu.

[2018-09-07 06:56] dustinTopcoder commented on #51
Contest https://www.topcoder.com/challenges/30069623 has been updated - it has been assigned to jiangliwu.

[2018-09-07 06:58] dustinTopcoder commented on #95
Contest https://www.topcoder.com/challenges/30069552 has been updated - it has been assigned to jiangliwu.

[2018-09-07 06:59] dustinTopcoder commented on #63
Contest https://www.topcoder.com/challenges/30069636 has been updated - it has been assigned to jiangliwu.

[2018-09-07 07:11] dustinTopcoder commented on #32
Contest https://www.topcoder.com/challenges/30069622 has been updated - it has been assigned to jiangliwu.

[2018-09-07 07:17] dustinTopcoder commented on #65
Contest https://www.topcoder.com/challenges/30069557 has been updated - it has been assigned to jiangliwu.

[2018-09-07 13:48] dustinTopcoder commented on #98
Payment failed: [500]: Failed to get billing detail for the project.

[2018-09-07 13:51] dustinTopcoder commented on #98
@ksmacleod99, Direct is having some issues right now, so that's why this isn't going through.  We can try again in an hour by doing the following:
1. Add "Fix accepted" label
1. Close the issue manually

[2018-09-08 01:22] #124 closed, assigned to jiangliwu

[2018-09-08 01:23] dustinTopcoder commented on #124
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30070580

[2018-09-10 12:39] dustinTopcoder commented on #98
Let's try this again.

[2018-09-10 12:39] #98 closed, assigned to brandontiqui

[2018-09-10 12:40] dustinTopcoder commented on #98
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069549

[2018-09-10 16:24] #95 closed, assigned to jiangliwu

[2018-09-10 16:24] dustinTopcoder commented on #95
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069552

[2018-09-10 16:27] #108 closed, assigned to jiangliwu

[2018-09-10 16:27] dustinTopcoder commented on #108
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069619

[2018-09-10 16:28] #109 closed, assigned to jiangliwu

[2018-09-10 16:29] dustinTopcoder commented on #109
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069618

[2018-09-10 16:32] #104 closed, assigned to jiangliwu

[2018-09-10 16:32] dustinTopcoder commented on #104
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069544

[2018-09-10 16:32] #107 closed, assigned to jiangliwu

[2018-09-10 16:33] dustinTopcoder commented on #107
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069542

[2018-09-10 16:41] dustinTopcoder commented on #94
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069553

[2018-09-10 16:41] dustinTopcoder commented on #96
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069551

[2018-09-10 16:42] #94 closed, assigned to jiangliwu

[2018-09-10 16:42] #96 closed, assigned to jiangliwu

[2018-09-10 16:43] #93 closed, assigned to jiangliwu

[2018-09-10 16:43] #63 closed

[2018-09-10 16:43] dustinTopcoder commented on #93
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069554

[2018-09-10 16:43] dustinTopcoder commented on #63
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069636

[2018-09-10 16:55] #65 closed

[2018-09-10 16:56] dustinTopcoder commented on #65
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069557

[2018-09-10 16:56] #51 closed

[2018-09-10 16:56] dustinTopcoder commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069623

[2018-09-10 16:56] #44 closed

[2018-09-10 16:57] dustinTopcoder commented on #44
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30069641

[2018-09-11 18:17] dustinTopcoder opened #127 "[$10] "Date of Passing" language needs to be changed to "Date of Death""
**Describe the bug**
Any screen which uses the language "Date of Passing" needs to be changed to read "Date of Death"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main page
2. Click on search
3. Observe attached screenshot

**Expected behavior**
"Date of Passing" language needs to be changed to "Date of Death"

**Screenshots**
![2018-09-11_11-12-49](https://user-images.githubuse

[2018-09-11 18:18] dustinTopcoder commented on #127
Contest https://www.topcoder.com/challenges/30071048 has been created for this ticket.<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-13 20:44] dustinTopcoder commented on #32
Contest https://www.topcoder.com/challenges/30069622 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-13 20:44] dustinTopcoder commented on #32
Contest https://www.topcoder.com/challenges/30069622 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-13 20:45] dustinTopcoder commented on #32
@sdgun, I've edited this issue a bit.  The client wants to have multiple badges of the same time, but have a counter to indicate how many times the badge has been given.

[2018-09-14 14:26] dustinTopcoder opened #128 "[$20] Need to redesign "Intelligence" and "Loyalty" badges"
**Describe the enhancement**
The current "Intelligence" and "Loyalty" badges contain symbols that are very close to some inappropriate symbols.  As such, we'd like to make the following changes to the badges:

* Intelligence:  Replace the cross symbol with a quill
* Loyalty: Replace the cross symbol with a star

**Current Images**
Intelligence:
![intelligence](https://user-images.githubusercontent

[2018-09-14 14:26] dustinTopcoder commented on #128
Contest https://www.topcoder.com/challenges/30071144 has been created for this ticket.<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-14 14:28] dustinTopcoder opened #129 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2018-09-14 14:29] #129 closed, assigned to nobody

[2018-09-15 06:07] dustinTopcoder commented on #127
Contest https://www.topcoder.com/challenges/30071048 has been updated - it has been assigned to BrandonT.<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-18 00:34] dustinTopcoder commented on #127
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-18 00:41] dustinTopcoder commented on #127
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-09-18 13:13] #127 closed, assigned to brandontiqui

[2018-09-18 13:14] dustinTopcoder commented on #127
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30071048<br/><br/>```This is an automated message for dweaver via Topcoder X```

[2018-10-22 20:18] dustinTopcoder commented on #113
Contest https://www.topcoder.com/challenges/30069613 has been updated - it has been assigned to mess.<br/><br/>```This is an automated message for dweaver via Topcoder X```